#contact {
    background-image: url(../assets/Background_Contacts.png);
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
}

#contacthead {
    justify-items: center;
    gap: 8px;
}

#links {
    margin-top: 48px;
}

#socialbutton {
    background-color: var(--bgray-400);
    border-radius: 8px;
    width: 400px;
    height: 68px;
    margin-top: 16px;
    
    #buttonitens{
        display: flex;
        gap: 12px;
        padding: 20px;
        align-items: center;
        
    }

  
}