* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*FONTS*/
    
    --font-asap: 'asap', sans-serif;
    --title-lg: 800 56px/120% var(--font-asap);
    --title-md: 800 24px/120% var(--font-asap);
    --title-sm: 800 16px/120% var(--font-asap);

    --font-insonsolata: 'inconsolata', sans-serif;
    --sub-font: 400 20px/120% var(--font-insonsolata)

    --font-mavenpro: 'maven pro', sans-serif;
    --text-md: 400 16px/140% var(--font-mavenpro);
    --text-sm: 400 14px/140% var(--font-mavenpro);
    
    /*COLORS*/
    
    --main-red: #E3646E;
    --main-purple: #BB72E9;
    --main-blue: #3996DB;
    --main-green: #82BC4F;
    --main-yellow: #EABD5F;
    
    --bgray-100:#E2E4E9;
    --bgray-200:#C0C4CE;
    --bgray-300:#878EA1;
    --bgray-400:#292C34;
    --bgray-500:#16181D;
    --bgray-600:#0D0E11;
    
}

body {
    background-color: var(--bgray-600);
}

spam {
    color: var(--principal-red);
}

