#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  object-fit: cover;
  max-width: 100%;
  height: 100vh;
}

#info {
    justify-content: center;
}

#header {
    justify-items: center;
    padding: 125px;

    #avatar {
        position: relative;
        display: inline-block;
      
        img{
        margin-top: 56px;
        padding: 4.36px;
        border: 2px solid var(--main-red);
        border-radius: 96px;
        }

        span > img {
            position: absolute;
            bottom: 0.1px;
            left: 66.5px;
            border: none;

        }
    }


    p {
        margin-top: 56px;
    }

    h1{
        margin-top: 8px;
    }

}

#footerhead{
    margin-top: 80px; 
    border-radius: 20px;
    justify-content: center;
    gap: 16px;
    letter-spacing: 0.95px;
    
    span {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--bgray-400);
        color: var(--bgray-200);
        padding: 8px 16px;
        border-radius: 20px;

        
        img{
            position: relative;
            justify-items: center;
            width: 24px;
            height: 24px;
        }

    }
}

#arrow {
    display: flex;
    justify-content: center;
    margin-top: 194px;
}






