#projects {
    box-sizing: border-box;
    background-color: var(--bgray-500);
    padding: 120px;
}

#header {
    row-gap: 8px;
}

#grade {
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: center;
    gap: 24px;    
}

#projectcard {
    background-color: var(--bgray-400);
    border-radius: 12px;
    padding: 12px;
    max-width: 330px;
    

    img {
        max-width: 306px;
        border-radius: 12px;
    }

    h4 {
        margin-top: 24px;
    }
}

#contentcard {
    margin-top: 20px;    
   
    p {
        margin-top: 8px;
        letter-spacing: 0.2px;
    }
}

